<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <input type="hidden" value="{{quizId}}" name="quizId">
        <label>Open Date: {{openDate}}</label>
        <label>Close Date: {{closeDate}}</label>
        <label>Duration: {{duration}}</label>
        {{#each questions as |question| ~}}
        <input type="hidden" value={{quizQuestionId}} name="quizQuestionId">
        <label>Question {{@index}}:</label>
        <p>{{questionData}}</p>
        <ul>
            {{#each options as |option| ~}}
            <li></li>
            {{/each}}
        </ul>
        {{/each}}
    </form>
</body>

</html>